body {
  margin: 0;
  font-family: Arial;
  background: linear-gradient(to bottom, #1f3c88, #3d5fa3);
  color: white;
  text-align: center;
}

.container {
  margin-top: 100px;
}

.subtitle {
  opacity: 0.8;
}

.card {
  background: white;
  color: black;
  width: 320px;
  margin: 30px auto;
  padding: 25px;
  border-radius: 15px;
}

input {
  width: 90%;
  padding: 10px;
  margin-bottom: 15px;
}

button {
  width: 100%;
  padding: 10px;
  background: #2f4f88;
  color: white;
  border: none;
  border-radius: 8px;
}

#hasil {
  margin-top: 20px;
}
